In [33]:
import numpy as np
import pandas as pd
from setup import *

In [45]:
out_folder_1 = "2104_rc_tnorm/"
out_folder_2 = "2104_rc_new1/"

result_file = "rail_catchment_mve_results.csv"

In [46]:
def process_results_df(results):
    results['train_rmse'] = np.sqrt(results['train_mse'])
    results['test_rmse'] = np.sqrt(results['test_mse'])
    results['Adjacency'] = pd.Categorical(results['Adjacency'], ['func','euc','con','net','func_euc','func_con','func_net','func_euc_con_net'])
    results = results[results['test_nll_loss']<1000]

    return results

In [47]:
df1 = pd.read_csv(project_dir+"results/"+out_folder_1+result_file)
df1 = process_results_df(df1)

df2 = pd.read_csv(project_dir+"results/"+out_folder_2+result_file)
df2 = process_results_df(df2)

In [32]:
df1.groupby(['Period','Adjacency']).mean()[['train_nll_loss','test_nll_loss','test_u']].round(2)

                         train_nll_loss  test_nll_loss  test_u
Period Adjacency
after  func                       68.41          72.91    0.08
       euc                        66.53          72.73    0.08
       con                        72.57          74.26    0.09
       net                        67.91          73.08    0.09
       func_euc                   67.57          72.65    0.08
       func_con                   68.18          73.15    0.09
       func_net                   71.04          73.65    0.09
       func_euc_con_net           70.15          73.60    0.09
before func                      114.28         114.28    0.14
       euc                       111.63         122.14    0.14
       con                       114.10         130.29    0.15
       net                       120.08         154.69    0.14
       func_euc                  107.17         103.88    0.14
       func_con                  120.39         120.35    0.13
       func_net                  108.05         157.61    0.14
       func_euc_con_net          117.38         115.47    0.14

In [48]:
df2.groupby(['Period','Adjacency']).mean()[['train_nll_loss','test_nll_loss','test_u']].dropna().round(2)

                         train_nll_loss  test_nll_loss  test_u
Period Adjacency
after  func_euc_con_net           72.05          72.52    0.09
before func_euc_con_net          118.27         111.77    0.11

In [66]:
df1[df1['Period']=='before'].sort_values(by='test_nll_loss').head(10)[['Model','Lookback', 'train_nll_loss',
       'train_mae', 'train_rmse', 'train_mpiw', 'train_picp', 'test_nll_loss',
       'test_mae', 'test_rmse', 'test_mpiw', 'test_picp', 'train_u', 'test_u']]

,Model,Lookback,train_nll_loss,train_mae,train_rmse,train_mpiw,train_picp,test_nll_loss,test_mae,test_rmse,test_mpiw,test_picp,train_u,test_u
787,110,4,95.44,111.62,483.054873,670.317632,0.961310,93.54,87.70,400.758943,638.419147,0.962751,0.183239,0.154409
49,9,4,96.51,124.54,541.370603,736.135261,0.953479,93.69,96.34,452.580424,712.997198,0.965775,0.206668,0.175501
849,172,4,96.29,125.04,498.174738,775.069601,0.951424,94.13,98.68,407.018575,746.708625,0.956065,0.190575,0.158050
752,75,4,96.34,126.39,502.009841,766.789951,0.963914,94.22,100.09,408.010747,734.637237,0.969118,0.188413,0.155481
760,83,4,96.84,127.74,512.429546,762.525866,0.945490,94.25,98.94,411.762942,739.832918,0.958453,0.194547,0.158690
40,0,4,96.78,127.23,508.552770,799.106169,0.963949,94.27,100.35,414.758821,781.189604,0.973894,0.193876,0.160600
762,85,4,95.68,123.45,598.691490,689.830209,0.943204,94.31,97.48,529.242251,658.057380,0.940465,0.232614,0.209015
778,101,4,95.26,108.66,485.996070,616.230610,0.948572,94.36,86.32,413.593762,586.266354,0.949061,0.185334,0.159853
546,76,2,96.70,119.30,497.246156,689.829310,0.953391,94.42,89.80,399.341796,658.881549,0.966253,0.187105,0.153057
751,74,4,96.52,118.45,482.095914,760.790590,0.965420,94.44,90.41,383.274849,714.448874,0.968322,0.181478,0.146724

In [67]:
df2[df2['Period']=='before'].sort_values(by='test_nll_loss').head(10)[['Model','Lookback', 'train_nll_loss',
       'train_mae', 'train_rmse', 'train_mpiw', 'train_picp', 'test_nll_loss',
       'test_mae', 'test_rmse', 'test_mpiw', 'test_picp', 'train_u', 'test_u']]

,Model,Lookback,train_nll_loss,train_mae,train_rmse,train_mpiw,train_picp,test_nll_loss,test_mae,test_rmse,test_mpiw,test_picp,train_u,test_u
132,107,2,95.44,78.27,313.763032,377.124805,0.943789,92.88,59.94,198.327936,336.541695,0.951130,0.112076,0.071242
122,97,2,95.17,76.20,305.209305,385.245553,0.950007,92.92,60.54,209.983404,351.376940,0.953996,0.108845,0.075152
112,87,2,95.98,79.49,312.005272,429.426946,0.952771,92.96,62.46,208.406838,382.314013,0.959885,0.111556,0.075615
128,103,2,96.02,78.99,314.586427,400.668795,0.948820,92.96,58.15,193.016683,342.104872,0.954951,0.111852,0.069209
130,105,2,96.74,80.12,319.564407,464.547267,0.952735,92.97,59.34,200.675833,402.939669,0.963069,0.113703,0.072186
216,191,2,96.12,80.71,320.843295,417.770116,0.946942,92.99,58.00,194.577619,359.775533,0.955428,0.114034,0.069744
131,106,2,96.58,80.48,321.898851,437.299531,0.948253,93.05,59.27,196.801296,387.288015,0.958930,0.115265,0.071212
95,70,2,97.31,82.80,335.824999,461.551901,0.949068,93.10,59.95,204.240300,397.947421,0.959726,0.119624,0.073446
123,98,2,95.99,79.11,314.788564,436.799453,0.958085,93.11,61.45,203.684683,379.442177,0.963547,0.112446,0.073287
113,88,2,96.75,80.26,318.737823,425.065083,0.951867,93.15,58.75,197.361242,387.355291,0.964183,0.113592,0.070894

In [68]:
df1[df1['Period']=='after'].sort_values(by='test_nll_loss').head(10)[['Model','Lookback', 'train_nll_loss',
       'train_mae', 'train_rmse', 'train_mpiw', 'train_picp', 'test_nll_loss',
       'test_mae', 'test_rmse', 'test_mpiw', 'test_picp', 'train_u', 'test_u']]

,Model,Lookback,train_nll_loss,train_mae,train_rmse,train_mpiw,train_picp,test_nll_loss,test_mae,test_rmse,test_mpiw,test_picp,train_u,test_u
433,3,4,64.49,11.00,25.257870,57.771517,0.950996,70.44,13.32,26.791603,77.304240,0.942857,0.102880,0.079312
476,6,6,64.22,10.86,24.525701,58.629047,0.956258,70.48,13.42,26.761913,78.577429,0.944603,0.099693,0.079245
283,3,4,64.03,10.63,23.545913,57.736959,0.964099,70.54,13.23,26.204389,75.256849,0.951587,0.095435,0.077473
162,2,4,65.09,11.12,25.103585,63.924790,0.959967,70.54,13.48,26.874523,86.746622,0.950000,0.101982,0.079385
469,9,6,64.95,11.11,25.148161,61.487819,0.949954,70.71,13.50,27.088189,85.353563,0.948254,0.102505,0.080078
153,3,2,64.31,10.72,23.446961,59.793749,0.960991,70.71,13.26,26.309884,78.603299,0.950635,0.095144,0.077763
196,6,4,65.02,11.15,25.473123,64.004736,0.956400,70.72,13.38,26.654456,87.968645,0.949206,0.103821,0.079001
474,4,6,64.49,10.93,24.906425,58.973639,0.956435,70.72,13.27,26.479426,79.919300,0.945714,0.101186,0.078331
294,4,6,63.68,10.47,22.838783,57.058029,0.961327,70.75,13.16,25.900000,72.654019,0.944921,0.092443,0.076385
275,5,2,64.78,10.94,24.526720,59.613690,0.955534,70.77,13.32,26.514901,79.889779,0.944444,0.099748,0.078458

In [69]:
df2[df2['Period']=='after'].sort_values(by='test_nll_loss').head(10)[['Model','Lookback', 'train_nll_loss',
       'train_mae', 'train_rmse', 'train_mpiw', 'train_picp', 'test_nll_loss',
       'test_mae', 'test_rmse', 'test_mpiw', 'test_picp', 'train_u', 'test_u']]

,Model,Lookback,train_nll_loss,train_mae,train_rmse,train_mpiw,train_picp,test_nll_loss,test_mae,test_rmse,test_mpiw,test_picp,train_u,test_u
26,1,6,65.52,11.00,23.153833,55.663165,0.953009,71.03,13.92,26.946614,69.744413,0.936667,0.093944,0.079616
20,0,4,65.53,11.05,23.317161,56.356615,0.956453,71.06,14.02,27.510180,68.633214,0.936032,0.094738,0.081550
28,3,6,64.54,10.71,22.482660,53.286864,0.952550,71.19,13.99,27.323616,65.175021,0.928571,0.091895,0.081605
24,4,4,65.81,11.09,23.174987,55.812218,0.951243,71.24,13.86,27.004074,69.207446,0.937778,0.094127,0.079759
18,3,2,65.92,11.06,23.547399,59.295025,0.949336,71.29,14.20,28.672112,77.606024,0.939206,0.096413,0.086012
22,2,4,65.59,11.11,23.332595,53.675810,0.944427,71.32,14.04,27.681944,66.361019,0.927778,0.095946,0.083440
19,4,2,65.59,10.94,23.389314,60.470394,0.952550,71.38,14.26,28.934754,78.477880,0.937778,0.095384,0.086357
25,0,6,66.49,11.23,24.059302,62.386883,0.955958,71.38,13.75,26.626678,83.349633,0.946825,0.097811,0.079284
27,2,6,65.79,11.09,23.700844,59.586172,0.955269,71.51,13.95,26.853864,77.441715,0.939206,0.096799,0.080531
16,1,2,66.18,11.32,23.782136,57.131230,0.943950,71.87,14.33,28.595804,76.044360,0.936825,0.098715,0.087011